.heroPic {
    background-image: url(../../assets/hero.jpg);
    background-size: cover;
    min-height: 50vh;
    background-position: fixed;
    overflow-x: hidden;

}

.pictureHero {
    width: 100%;
}

.backOpacity {
    background-color:  rgba(43, 29, 231, 0.5);
    border-radius: 25px;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-top: 200px;
    margin-right: 10px;
    color: white;
    height: fit-content;
    justify-content: center;
    
}

.handyman {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin:30px;
    margin-top: 50px;
    justify-content: center;
    text-align: center;
}
.handyman > p {
    font-size: 20px;
}

.homePic {
   margin: 10px; 
   height: fit-content;
   margin-top: 65px;
   overflow-x: hidden;

}

.first {
    justify-content: center;
}

.content {
    margin-bottom: 100px;
}