.services {
    color: brown;
}
.headServ{
    font-family: 'Sacramento', cursive;
    margin-top: 15px;
}
#serviceDoor{
    height: 87px;
}
#serviceFloor{
    height: 87px;
}
#serviceBath{
    height: 87px;
}
#servicePainting{
    height: 87px;
}
#serviceElect {
    height: 87px;
}
#serviceRoof {
    height: 87px;
}
#servicePlumb {
    height: 87px;
}

.icons{
    padding: 30px;
    display: inline-block;
}
.icons:hover {
    transform: scale(1.1);
}

.containers{
display: inline-block;
text-align: center;
background-color: rgb(184, 18, 18);
}

span {
    display: block;
    color: white;
    text-decoration: none;
}

@media only screen and (min-width: 600px) {
    .containers {
        width: 100%;
        display: block;
        padding-bottom: 0;
    }
}