.contact {
    background-image: url(../../assets/contact.jpg);
    background-size: cover;
    min-height: 100vh;
    background-position: fixed;
    overflow-x: hidden
}

.lead  {
    font-size: 20px;
    color: rgb(151, 98, 107);

}

.title-box-2 > h4, h5 {
    font-size: 20px;
    color: rgb(151, 98, 107);  
} 

/**********************************/

.container-custom {
    padding-top: 1vh;
    justify-content: center;
    line-height: 200px;
}
.heading {
    font-size: 70px;
    padding-top: 2vh;
    /* padding-bottom: 25px; */
    color: white;
}
.contact {
    /* background-color:  rgba(44, 146, 241, 0.8); */
    text-align: center;
    max-width: 100%;    
    margin-right: auto;
    margin-bottom: 100px;
    /* padding-top: 70px; */
}

.contact p {
    color:rgb(78, 76, 76);
    padding-right: 35px;
    padding-left: 35px;
    font-size: 3vh;    
}

.buttonz {
    padding-right: 35px;
}
.far {
    font-size: medium;
}
.buttonz > a {
    border: 2px solid;
    margin: 10px;
    padding-right: 6px;    
    margin-top: 8px;
}
span {
    margin: 5px
}
.contact a {
    color: rgb(78, 76, 76);
}
.button-white:hover {
    background-color: rgb(253, 253, 253, .3);
}

.blueBack {
    background-color:  rgba(252, 246, 247, 0.7);
    border-radius: 25px;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-top: 100px;
    color: red
    
}
.home-section-inner {
    padding: 20px;
}

#fname {
    width: 300px;
    margin: 10px;
}

#mailid {
    width: 300px;
    margin: 10px;
}
#sub {
    width: 300px;
    margin: 10px;
}
#msg {
    width: 300px;
    margin: 10px;
    height: 200px;
}

