.services {
    color: brown;
}
.headServ{
    font-family: 'Sacramento', cursive;
    margin-top: 15px;
}
#serviceDoor{
    height: 87px;
}
#serviceFloor{
    height: 87px;
}
#serviceBath{
    height: 87px;
}
#servicePainting{
    height: 87px;
}
#serviceElect {
    height: 87px;
}
#serviceRoof {
    height: 87px;
}
#servicePlumb {
    height: 87px;
}

.icons{
    padding: 30px;
    display: inline-block;
}
.icons:hover {
    transform: scale(1.1);
}

.containers{
display: inline-block;
text-align: center;
background-color: rgb(184, 18, 18);
}

span {
    display: block;
    color: white;
    text-decoration: none;
}

@media only screen and (min-width: 600px) {
    .containers {
        width: 100%;
        display: block;
        padding-bottom: 0;
    }
}


.card {
    width: 12rem;
    margin: 20px;
}

.sectionOne{
    justify-content: center;
    text-align: left;
    margin: 20px;
    background-color: rgba(228, 222, 222, 0.4);
    padding: 30px;
}

.textClose{
    float: left;

}
.closePic{
    float:right;
    margin-top: 0;
    padding-left: 10px ;
    padding-right: 0;
}

.ourServices > ul{
    justify-content: center;
    margin: 20px;
}

h4 {
    color: rgb(184, 18, 18); ;
}
