.footer {
    margin: auto 0;
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(8, 8, 8, 0.8);
  color: white;
  text-align: center;
 
}

.footer > p{
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: 'Merienda', cursive;
  font-size: 15px;
  color: white
}

@media only screen and (min-width: 1024px) {
  footer  {
    display:flex;
  }
}