strong {
    font-family: 'Sacramento', cursive;
    color: rgb(74, 211, 230);
    float: left;
    /* margin-top: 16px; */
    margin-left: 20px; 
    font-size: 40px;
    cursor: pointer;
}

.navbar-light .navbar-nav .nav-link {
  color: white;  
  margin-right: 10px;

}

.navbar-brand {
    margin-right: 0;
}

.navbar-toggler {
    margin-right: 20px;
    padding: 0px;
    padding-right: 0px;
 
}

.navbar-brand:hover{
    transform: scale(1.1);
    color: white;
}
.header {
    height: 90px;
    width: 100%;
    background-color: rgb(184, 18, 18);
    color:seashell;    
}

Link {
    float: right;
    margin: 5px;
    margin-right: 20px;
    margin-top: 25px;
    color: white;
}
.nav-link {
  margin-left: 20px;
  border-radius: 4px;
  display: row;
  color: white;
}

.nav-link:hover{
    transform: scale(1.1);
    color: white;
}

.navbar-nav {
  justify-content: center;
   display: inline-flex;
   color: white;
}

.navbar-toggler-icon{
    width: 25px;
    color: white;
}

@media screen and (max-width: 600px) {
  .hide-sm {
    display: none;
  }
  .show-sm {
    display: block;
  }
}

@media screen and (min-width: 990px) {
  .hide-lg {
    display: none;
  }

  .show-lg {
    display: block;
  }
}

