.cardSection {
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 120px;
}
.card-img {
    height: 195px;
}

.card{
    width: 15rem;
    padding-left: 0;
    padding-right: 0;
}

.card:hover{
    transform: scale(1.1);
}